<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">  
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
        <a href="/flights/new">New Flight</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="/flights">All Flights</a>&nbsp;&nbsp;
    </nav>
    

 