<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
        <a href="/flights/new">New Flight</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="/flights">All Flights</a>&nbsp;&nbsp;|&nbsp;&nbsp;
    </nav>
    

 