<%- include('../partials/header')%>

<form id="new-ticket" action="/flights/<%= flightId %>/tickets" method='POST'>
  <label>Seat: 
    <input name="seat" required pattern="[A-F][1-9]\d?"> 
  </label>
  <label>Price: 
    <input type="number" name="price">
  </label>
  <!-- <label>Flight    
  </label> -->
  <input type="submit" value="Add Ticket">
</form>






<%- include('../partials/footer')%>


  

