/* Partials - Heading View */
* {
  background-color: #f1e4de;
  color: #7c7b89; 
  font: 20px 'Oswald', sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  display: grid; 
  grid-template-rows: 50px 1fr;
  grid-template-areas: "nav" "main";
}

body > nav {
  grid-area: nav;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: #0b7fab;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

h1 {
  font-size: 40px;
}
/* Index - All Flights */
.colsAll {
  grid-gap: 5px;
  grid-template-columns: repeat(5, minmax(auto, 22rem));
}

.collsAllName {
  font-size: 40px;
}

/* New - New Flight View */
#newFlightForm {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 15vmin 30vmin;
  justify-content: center;
}

#newFlightForm  {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  border-radius: 5px;
}

#newFlightForm input[type="submit"] {
  width: 20rem;
}

/* Index - All Flights View */
.colsAll {
  display: grid;
  grid-template-columns: 10vmin 8vmin 10vmin 63vmin 10vmin;
  justify-content: center;
  text-align: left;
}

#past {
  color: #e9723d; 
}


/* Show Page - Show View*/
  
#add-des-form {
  display: grid;
  grid-template-columns: 15vmin 55vmin;;
  gap: 1rem;
  justify-content: left;
}

#new-dest {
  display: grid;
  grid-template-columns:  10vmin 65vmin;
  gap: 1rem;
  justify-content: center;
  text-align: left;
}

#flight-details {
  display: grid;
  grid-template-columns:  10vmin 65vmin;
  grid-gap: 1vh;
  justify-content: center;
}

.newDestButton input[type="submit"] {
  width: 15rem;
}
