/* Partials - Heading View */
* {
  background-color: #f1e4de;
  color: #7c7b89; 
  font: 20px 'Oswald', sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  display: grid; 
  grid-template-areas: "nav" "main";
}

a {
  color: #0b7fab;
}

body > nav {
  grid-area: nav;
  display: flex;
  justify-content: center;
  align-items: center;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  overflow-y: scroll;
}

/* New - New Flight View */

#newFlightForm {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
}

#newFlightForm * {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

#newFlightForm input[type="submit"] {
  grid-column: span 2;
  width: 10rem;
  justify-content: center;
}



/* Index - All Flights View */

.indexH1 {
  font-size: 45px;
  text-align: center;
}

table {
  font-size: 16px;
  display: grid;
  justify-content: center;
}

.colsAll {
  display: grid;
  grid-template-columns: 10vmin 8vmin 10vmin 37vmin;
  justify-content: center;
  text-align: left;
}

#collsAllName {
  font-size: 20px;
}

#past {
  color: #e9723d; 
}
